{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if title %}
    <title>My Personal Gallery | {{title}}</title>
    {%else%}
    <title>My Personal Gallery</title>
    {%endif%}

    {% block styles %}
        {% bootstrap_css %}
        <script src="https://kit.fontawesome.com/ef9216c536.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arsenal">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}
</head>
<body>
    
    {% block content %}
    <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#000000;">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                      <a class="navbar-brand" href="{% url 'welcome'%}"></a>
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                      </ul>
                      <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
                        <input class="form-control mr-sm-2" type="text" name="category" placeholder="Search categories" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </div>
            </nav>
    </div>
    {%endblock%}


    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}

    <div class="footer">
      <nav class="navbar navbar-light" style="background-color: #D8DAD3;">
      <div class="container">
          <div class="row text-center footr">
              <div class="col one">
                  <h5><b>About my Personal Gallery</b></h5>
                  <p>Welcome to my gallery where the images are always about fashion,food,car and culture.
                    Images helps you keep memories at heart
                  </p>
                  <p>You can search for image categories and you can contact me via our social media handlers</p>
                  <p>Enjoy Life keep memories at heart</p>
              </div>
              <div class="col three">
                  <h5><b>Reach us</b></h5>
                  <p>Ngong Plaza</p>
                  <p>Phone: 0795292964</p>
                  <p>Email: mygallery@gmail.com</p>
                  <p>Web: www.mygallery.com</p>
              </div>
              <div class="col two">
                  <h5><b>Social</b></h5>
                  <span class="iconz">
                      <i class="fab fa-facebook-f"></i>
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-google"></i>
                      <i class="fab fa-instagram"></i>
                      <i class="fab fa-linkedin-in"></i>
                  </span>
              </div>
          </div>
      </div>
      </nav>
  </div>
</div>
</body>
</html>